{% extends 'base.html' %}
{% block title %}
Welcome to Movie Recommender System
{% endblock %}
{% block content %}


<div class="container" id="my_container">
    <div class="home_search">

        <select class="js-example-basic-single" id="selections" name="state">
            {%for movie in movies %}
            <option value="{{movie['tmdbId']}}">{{movie['title']}}</option>
            {% endfor %}

        </select>
        <button class="btn btn-primary btn-sm" id="search_button" style="margin-left:1em;">
            Find Recommendations
        </button>
        <!--        <input id="search" type="search" placeholder="The Avengers" list="options"/>-->
        <!--        <datalist id="options">-->

        <!--            {%for movie in movies %}-->
        <!--            <option value="{{movie['tmdbId']}}">{{movie['title']}}</option>-->

        <!--            {% endfor %}-->
        <!--        </datalist>-->


    </div>
    <h3>Recommended for you</h3>
    <div class="my_row">
        {%for movie in recommendations['cbr']%}
        {% include 'card.html' %}
        {%endfor%}
    </div>


    <h3>What Others are Watching</h3>

    <div class="my_row">
        {%for movie in recommendations['cfr']%}
        {% include 'card.html' %}
        {%endfor%}
    </div>


</div>
{% endblock %}
